.color_heading {
  display: flex;
  gap: 10px;
  padding: 28px 50px;
}

.color_name {
  text-decoration: none;
  padding: 10px;
  color: black;
  font-weight: 600;
}

.dash_color {
  display: flex;
  gap: 15px;
  padding: 0px 11px;
  align-items: center;
}

.dash_circle {
  border-radius: 50px;
  margin-top: 3px;
  margin-right: 7px;
  padding: 1px;
}

.color_data {
  color: darkgrey;
  font-size: 18px;
}

@media only screen and (max-width: 425px) {
  .color_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px 10px;
    gap: 3px;
  }
  .color_name {
    font-size: 18px;
    padding: 5px 0px;
  }
  .dash_color {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  .color_data {
    font-size: 12px;
  }
}
