* {
  font-family: sans-serif;
}

.column {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.card_container {
  display: flex;
  padding: 40px 32px 20px 57px;
  justify-content: space-between;
  height: 22%;
}

.card_items {
  -webkit-box-shadow: -1px 1px 16px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 16px -7px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 16px -7px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 12px 20px 11px 21px;
  border-radius: 10px;
  align-items: flex-start;
}

.card_no {
  display: flex;
  font-size: 60px;
  margin-left: 8px;
  padding: 5px;
}
p {
  padding: 5px 0px;
  margin-left: 10px;
  color: #aba8a8;
}

.card_info {
  text-decoration: underline;
  color: rgb(59, 101, 252);
  padding: 10px 10px 10px 0px;
}

.card_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: rgb(59, 101, 252);
}

@media only screen and (max-width: 425px) {
  .card_container {
    display: flex;
    align-items: center;
    height: auto;
    gap: 10px;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8px;
  }
  .column {
    display: flex;
    flex-direction: column;
    height: max-content;
  }
  .card_items {
    width: 40%;
    padding: 0px;
  }
  .card_no {
    font-size: 25px;
  }
  p {
    padding: 3px;
    font-size: 10px;
  }
  .card_arrow {
    padding: 3px;
    gap: 4px;
    font-size: 18px;
  }
  .card_info {
    font-size: 17px;
    padding: 5px;
  }
}
